{% extends 'layout.html' %}
{% from 'bootstrap5/table.html' import render_table %}

{% block app_content %}

<h1>Upcoming Events</h1>

If you have any questions about an event, please reach out to acm [at] wpi
[dot] edu

<hr>

{% if events == [] %}
<p>No upcoming events. If it's a break, enjoy your break!</p>
{% else %}
{% for e in events %}
<h4>{{ e.name }}</h4>
<small style="font-style: italic; color: grey; margin-bottom: 1rem;">{{ e.start_time }} - {{ e.end_time }} &#45 {{ e.location }}</small>
<p>{{ e.description }}</p>
{% endfor %}
{% endif %}
{% endblock %}
