{% extends "layout.html" %}

{% block app_content %}
<h1>What We Do</h1> 

<p>ACM hosts a variety of activities throughout the academic year, including
workshops on currently-running CS courses like 2102/2103 and 2303 and topics
that are of interest to students outside of courses. We also host the annual
Hackathon at WPI, <a href="https://hack.wpi.edu">GoatHacks</a>, every January.</p>

<p>ACM also hosts a hypervisor to provide services to both the campus community
and the outside world. Our <a href="https://mirrors.acm.wpi.edu">Linux
    mirror</a> serves over 180 terabytes of traffic each calendar year for
distributions like Debian, Arch, and OpenSUSE.</p>

<h4>ACM Infrastructure</h4>
<p>ACM maintains a presence in the CS department's server room in the
subbasement of Fuller Labs. Our current primary hypervisor is a Penguin
Computing reLion 101. This server provides services like the GoatHacks website
and registration system, as well as the ACM LDAP server. We also have two
virtual machines on CS department infrastructure, providing our main website and
the Linux mirrors. If you want to learn more about our infrastructure, reach out
to our sysadmin at <em>acm-sysadmin [at] wpi [dot] edu</em>.</p>

<h4>Student Projects</h4>
<p>Coming down the pipeline is the potential for supporting non-academic student
projects on our infrastructure. If this is something you might be interested in,
reach out to our sysadmin at <em>acm-sysadmin [at] wpi [dot] edu</em> for more
details. Stay tuned in our <a href="https://acm.wpi.edu/discord">Discord</a> for
more details as well.</p>
{% endblock app_content %}
